<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Olá mundo do slimframework!
            </h1>
            <p class="subtitle">
                Agora: {{ agora }}
            </p>

            <a href="{{ url_for('rotaValidarNumero', { numero_raw: '10a' }) }}">Filtrar o número 10a</a>
        </div>
    </section>
</body>

</html>